body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background-color: #333333;
    padding: 0;
    margin: 0;
}

header {
    background-color: #EEEEEE;
    color: #444444;
    font-family: 'Roboto Slab', serif;
    padding: 5px 15px;
    border-bottom: 1px solid #CCCCCC;
}
header h1 {
    margin: 0;
    padding: 0;
}
header h1 a,
header h1 a:visited,
header h1 a:active,
header h1 a:hover {
    color: #444444;
}

nav {
    color: #555555;
}
nav a,
nav a:visited,
nav a:active,
nav a:hover {
    color: #555555;
    padding: 4px 8px;
    display: inline-block;
}

a,
a:visited,
a:active,
a:hover {
    color: #4078c0;
    text-decoration: none;
}

.navigation {
    margin: 0 -15px;
}
.navigation a {
    display: block;
    padding: 5px 15px;
}

#content {
    background-color: #FFF;
    padding: 15px 15px 100px 15px;
    margin-bottom: 15px;
}

#content .lesson-heading {
    display: flex;
}
#content .lesson-heading > * {
    flex: 1;
}
#content .lesson-heading-paginate {
    flex: none;
    display: flex;
    align-items: baseline;
}
#content .lesson-heading-paginate button {
    background: transparent;
    border: none;
    font-weight: bold;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#content .lesson-page {
    display: none;
}
#content .lesson-page.active {
    display: block;
}

#content .lesson-page-section {
    opacity: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}
#content .lesson-page-section.visible,
#content .lesson-page-section:first-child {
    opacity: 1;
}

#content .button-continue {
    display: inline-block;
    border: none;
    color: #333;
    background: #DDD;
    padding: 5px 15px;
    cursor: pointer;
}
#content .button-continue span {
    display: block;
}
#content .button-continue span:last-child {
    font-size: 75%;
    color: #666;
    padding-top: 2px;
}